SUPABASE_URL=https://lbbxkxqefysnpscyxhne.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiYnhreHFlZnlzbnBzY3l4aG5lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg4OTM1OSwiZXhwIjoyMDkzNDY1MzU5fQ.FSuEKiIe0Mb7Hnfu3a2ejaJoP4luX9vbFFoz3SYXRfg
FRONTEND_ORIGIN=http://localhost:5173
